.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* style for link */
.links {
  color: #1876D1;  
	text-decoration: none !important;
}

.links:visited {
	color: #1876D1;

}

/* center alignment */

.center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Dailytasks */
.TaskContainer {

  border-radius: 1cm;
  margin-bottom: 1rem;
  box-sizing: "border-box";
  background-color: rgb(231, 242, 255);
  padding: 0.8rem;
  width: 100%;
  overflow: hidden;  
}
 .TaskContainer .task{
  float: left;
 
}
 .TaskContainer .reward{
  float: right;
}